/*.contenido-principal{
    padding-top: 5rem;
}*/
.contenido-nosotros{
    display: grid;
    grid-template-columns:1fr 2fr ;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr) );
    column-gap: 4rem;
}
.informacion-nosotros{
    display: flex;
    flex-direction:column ;
    justify-content: center;
}