
/*sirve para establecer sin que se descuadre los valores del width*/
 html{
  box-sizing: border-box;
  font-size: 62.5%;/*un ren =10pc;*/
}
a,*::before, *::after{
  box-sizing: inherit;
}

body{
  font-family:'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height:2 ;
}

/*Globales*/

h1, h2, h3{
  font-family: 'Playfair Display', serif;
  margin: 0 0 2rem 0;
}
h1{
  font-size: 3.8rem;
}
@media (min-width: 768px) { 
  h1{
    font-size: 5rem;
  }
} 
h2{
  font-size: 3.2rem;
}
@media (min-width: 768px) { 
  h2{
    font-size: 4rem;
  }
} 
h3{
  font-size: 2.4rem;
}
@media (min-width: 768px) { 
  h3{
    font-size: 3rem;
  }
}
a{
  text-decoration: none;
  color:black;
}
.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}
img{
  max-width: 100%;
  display: block;
}

.btn{
  background-color: #8cbc00;
  display: block;
  color:white ;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color .3s ease-out ;
  text-align: center;
  border: none;
  width: 100%;
}

.btn:hover{
  background-color: #769c02;
  cursor: pointer;
}
@media (min-width: 768px) { 
  .btn{
    width: auto;
  }
} 

/*utilidades*/
.text-center{
  text-align: center;
}
@media (min-width: 768px) { 
  .max-width-30{
    max-width: 30rem;
  }
} 

/*
permite animar la imagen (expandir 9
.producto img:hover{
  transform: scale(.8);
}*/

/*listado de productos y nosotros*/
.contenido-principal{
  padding-top: 5rem;
}