
/*sirve para establecer sin que se descuadre los valores del width*/
 html{
  box-sizing: border-box;
}
a,*::before, *::after{
  box-sizing: inherit;
}
/*Globales*/
a{
  text-decoration: none;
  color:black;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}

/*Header y navegacion*/
.nombre-sitio{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.nombre-sitio span{
  color: #037bc0;
}
.contenedor-navegacion{
  border-top: 1px solid #e1e1e1;
}

.nav-principal{
  /*ancho el tipo y el color de border*/
 
  padding: 20px 0;
}

.hero {
  background-image: url(src/assets/img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}
