.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    /*o puedo poner gap:2rem;*/
  }
  .producto:nth-child(1){
    /*opcion 1
    grid-column: 1/7;
    opcion 2 */
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .producto:nth-child(1) img{
   height: 43rem;
   width: 100%;
   object-fit: cover;
  }
  .producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .producto:nth-child(2) img, .producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
   }
  .producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
  }
  
  .producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
  }
  
  .producto{
    background-color: #037bc0;
  }
  .texto-producto{
    text-align: center;
    color: white;
    padding: 2rem;
  }
  
  .texto-producto h3{
    margin: 0;
  }
  
  .texto-producto p{
    margin: 0 0 .5rem 0;
  }
  .texto-producto .precio p{
    font-size: 2.8rem;
    font-weight: 900;
  }
  